.Match-TeamSelection{
  .Team-Name{
    line-height: 4em;
    font-size: 16px;
    font-weight: bold;
  }

  button{
    min-height: 64px;
    min-width: 64px;
    &.is-white{
      border-color: #000;
      border-style: solid;
      border-width: 1px;
    }
  }

  .Image-Box{
    img{
      max-width: 64px;
    }
    min-height: 64px;
  }
}
.Match-Tie{

  button{
    min-height: 64px;
    min-width: 64px;
    &.is-white{
      border-color: #000;
      border-style: solid;
      border-width: 1px;
    }
  }
}
